:root{
    --ff-1: 'Raleway', sans-serif;
    /*59px*/
    --fs-h1: 3.6em;
    /*39px*/
    --fs-h2: 2.4em;
    /*24px*/
    --fs-h3: 1.5em;
    --fs-h4: 1.5em;
    /*18px*/
    --fs-p:  1.12em;
    /*цвет шришта*/
    --fs-14px: 0.85em;
    --color-defolt-1: white;
}
.clearfix{
    display: table;
    content: " ";
    clear: both;
}
html{
    font-size: 100%;
}
html p{
    font-size:  100%;
}
body{
    font-family: var(--ff-1);
}
body h1{
font-size: var(--fs-h1);
}
body h2{
    font-size: var(--fs-h2);
}
body h3{
    font-size: var(--fs-h3);
}
body p{
    font-size: var(--fs-p);
}
.container{
    max-width: 1170px;
    margin: 0 auto;
}
.burger{
    content: "";
    width: 35px;
    background-color: white;
    height: 3px;
    border-radius: 20px;
    position: relative;
}
.burger:after{
    content: "";
    width: 35px;
    background-color: white;
    height: 3px;
    border-radius: 20px;
    position: absolute;
    top:-11px;
}.burger:before{
     content: "";
     width: 35px;
     background-color: white;
     border-radius: 20px;
     position: absolute;
     top:11px;
     height: 3px;

 }
.burger_trigger{
    position: absolute;
    top:-12px;
    width: 35px;
    height: 26px;
    /*background-color: black;*/
    opacity: 0.7;
    z-index: 1;
    cursor: pointer;
}
.menu-up{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding-bottom: 10px;
    align-items: center;

}
.menu-linc{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-width: 300px;
    font-weight: 300;
    font-size: 1em;
}
.menu-linc li{
    margin: 0 10px;
}
.menu-linc li a{
    color: black;
    text-decoration: none;
}
#menu-up-linc{
    font:700 0.85em/1.1 var(--ff-1);
    margin:0 10px 0 0;

}


input[type="search"] {
    /*-webkit-appearance: textfield;*/
    -webkit-appearance: none;
    border: none;
    width: 180px;
    border-bottom: 1px solid #000000;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
input[type="search"]:focus {
    outline: none;
}
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
    background: url("../img/icons/text_clear.png")no-repeat top center;
    background-size: 100% auto;
    background-position: 0 0;

}

input[type="button" ],
input[type="submit" ],
input[type="reset" ],
input[type="file" ]::-webkit-file-upload-button,
button {
    outline-color: rgb(11,169,182);
    width: 15px;
    height: 15px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAMAAAAMCGV4AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAA6lBMVEUvLy8wMDAwMDAvLy8wMDAvLy8wMDAwMDAvLy8wMDAwMDAwMDAwMDAwMDAvLy8wMDAwMDAvLy8wMDAvLy8vLy8vLy8vLy8vLy8vLy8wMDAvLy8vLy8vLy8vLy8wMDAwMDAwMDAvLy8vLy8vLy8vLy8wMDAvLy8wMDAwMDAwMDAvLy8wMDAwMDAvLy8vLy8vLy8wMDAvLy8wMDAvLy8vLy8vLy8vLy8vLy8vLy8wMDAwMDAwMDAvLy8wMDAvLy8vLy8vLy8wMDAvLy8vLy8wMDAwMDAvLy8vLy8wMDAwMDAvLy8vLy8wMDD///8Dz37eAAAAS3RSTlMAAIXb9/DCQhPo64ZOXK+M8co4elYO73kI53QmYjC9qvogoaDIntGSDGtEPhQ48rJgrsORKRYVqXf50Ki6wHsPbZuQR357g36D3lGWeFasAAAAAWJLR0RNgGggZQAAAAlwSFlzAAALEgAACxIB0t1+/AAAAKlJREFUCNdNzVdbwlAMBuAvDFkiUKCKgAyFssoqZSmCIEOT//97aA435DkXeXMyACAUjkQfYmQCiCeSqcf0E2dupmwOmliSh0ZIYEwFLqrtZ3oJKsErvaqlXKlqB/BW0/l6o/mu/0QfLXXb6UjXmHva35eBOxyNCZOp2Q+PXZr584U4lq4Flqv155e98Vi+jbHd/ewP5DPz723EnKcji5zujLOw3BuXv/8rqVsSI9/vwSwAAAAASUVORK5CYII=');

}

input[type="button" ],
input[type="submit" ],
input[type="reset" ],
input[type="file" ]::-webkit-file-upload-button,
button {
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: inherit;
    background-color:inherit;
    box-sizing: border-box;
    padding: 0 0;
    border: none;

    /*border-width: ;*/

    border-color: buttonface;
    /*border-image: initial;*/
}
hr{
    color:#000000;
    background-color: #000000;
    height: 1px;
    border: none;
    margin: 13px 0 23px;
}


.header{
    background: url("../img/block/baner-min.png")no-repeat top center;
    background-size: cover;
    padding: 50px 0 20px 0;
    color: var(--color-defolt-1);

}
.nav-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 110px;
}
.header h1{
    margin-bottom: 45px;
    text-transform: uppercase;
    font-weight: 500;
}
.header p{
    font-size: var(--fs-h2);
    margin-bottom: 60px;
}

.btn a{
    display: inline-block;
    text-decoration: none;
    color: var(--color-defolt-1);
    font-size: var(--fs-14px);
    padding: 10px 65px;
    text-transform: uppercase;
    border: 1px solid white;
    border-radius: 30px;
    margin-bottom: 370px;


}
.btn-next{
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAHCAMAAAAYuxziAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAOVBMVEX///////////////////////////////////////////////////////////////////////////+0EB4eAAAAEnRSTlMA0S1C3RxbD5C+NeNFO+I8zDfEkbsjAAAAAWJLR0QAiAUdSAAAAAlwSFlzAAALEgAACxIB0t1+/AAAACdJREFUCNcNxMcBACAIALHDhmDff1nJI0gCcqlxE427gY/J2gfugw8HawCbHbKPSQAAAABJRU5ErkJggg==');
    background-repeat: no-repeat;
    background-position: 216px 13px;
}
.menu{
    display: flex;
}
.comers{
    display: flex;
}
.menu{
    padding-left: 50px;
    flex-grow: 2;
    align-items: center;
}
.menu li a, .comers li a {
    text-decoration: none;
    color: var(--color-defolt-1);
}
.menu li, .comers li {
    margin: 0 10px;
}

.comers-icon{
    background: url("../img/icons/icons-main-menu.png")no-repeat top center;
    /*background-size: 100% auto;*/
    width: 29px;
    height: 30px;
    display: inline-block;
}
.comers-icon a{
    width:29px;
    height: 30px;
    display: inline-block;
}
.comers_home{
background-position: -3px -6px;
}
.comers_revers{
    background-position: -135px -4px;
}
.comers_hard{
    background-position: -102px -6px;
}
.comers_comers{
    background-position: -32px -6px;
}
.circle{
    display: flex;
    justify-content: center;
}
.elips a{
    display: inline-block;
    text-decoration: none;
    width: 22px;
    height: 20px;

}
.elips{
    display: flex;
    justify-content: space-around;
    min-width: 85px;

}
.icon-elips{
     background: url("../img/icons/elips.png")no-repeat top center;
     width: 25px;
     height: 25px;
    position: relative;
 }
.elips-active{
    background: url("../img/icons/elips.png")no-repeat top center;
    width: 22px;
    height: 20px;
    background-position: -30px -20px;
    margin-top: -100%;
    display: none;
}
.elips-active:active{
    background: url("../img/icons/elips.png")no-repeat top center;
    width: 22px;
    height: 20px;
    background-position: -30px 0;
    margin-top: 0;
    position: absolute;
}
.elips_1{
    background-position: 0 0;
}
.elips_2{
    background-position: 0 0;
}
.elips_3{
    background-position: 0 0;
}

.block{
    padding-top:73px;
}
.bl-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.bl-row{
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;

}
.bl-content{
    display: flex;
    justify-content: space-around;

}
.bl-content-2{
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
}
.bl-content h2,.bl-content-2 h2{
    margin-bottom: 50px;
}
.bl-content p,.bl-content-2 p{
    font:700 var(--fs-p)/3 var(--ff-1);
}
.fig-size{
    max-width: 47%;
}
.fig-size img{
    width: 100%;
}
.bl-text{
    display: flex;
    flex-direction: column;
    width: 47%;

}
.product{
    background: url("../img/block/bl-min.png")no-repeat center top;
    background-size: cover;
    padding: 200px 0 60px ;
}
.product-flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product-wrapper{
    display: flex;
    justify-content: space-between;
    margin: 0 -1.5%;
    padding-bottom: 40px;
    width: 100%;

}
.product-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-basis: 550px;
    flex-grow: 1;
    margin: 0 1.5%;
}
.name-wrapper{
    display: flex;
    justify-content: space-around;
    padding: 35px 10px 25px;
    box-sizing: border-box;
    background-color: white;
    margin: 0 1.5%;
    flex-wrap: wrap;
    /*flex-basis: 262px;*/
}
.name-wrapper:hover{
    box-shadow: 0 0 35.6px 4.4px rgba(0, 0, 0, 0.35);
}
.name-wrapper p {
}
figcaption p{
    font-size: 0.85em;
    font-weight: 600;
}
.cost{
 float: right;
}
.form-up{
    width: 100%;
    position: relative;
}
.btn-1 {
    width: 154px;
    height: 27px;
    color: white;
    position: relative;
    -webkit-appearance: textfield;
    -webkit-rtl-ordering: logical;
    user-select: text;
    cursor: pointer;
    padding: 1px;
    border-radius: 20px;
    background: rgb(245,122,77);
    background: -moz-linear-gradient(top, rgba(245,122,77,1) 5%, rgba(245,122,77,1) 11%, rgba(245,122,77,1) 11%, rgba(245,122,77,1) 11%, rgba(245,122,77,1) 11%, rgba(245,122,77,1) 11%, rgba(245,122,77,1) 16%, rgba(116,58,36,1) 99%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,rgba(245,122,77,1)), color-stop(11%,rgba(245,122,77,1)), color-stop(11%,rgba(245,122,77,1)), color-stop(11%,rgba(245,122,77,1)), color-stop(11%,rgba(245,122,77,1)), color-stop(11%,rgba(245,122,77,1)), color-stop(16%,rgba(245,122,77,1)), color-stop(99%,rgba(116,58,36,1)));
    background: -webkit-linear-gradient(top, rgba(245,122,77,1) 5%,rgba(245,122,77,1) 11%,rgba(245,122,77,1) 11%,rgba(245,122,77,1) 11%,rgba(245,122,77,1) 11%,rgba(245,122,77,1) 11%,rgba(245,122,77,1) 16%,rgba(116,58,36,1) 99%);
    background: -o-linear-gradient(top, rgba(245,122,77,1) 5%,rgba(245,122,77,1) 11%,rgba(245,122,77,1) 11%,rgba(245,122,77,1) 11%,rgba(245,122,77,1) 11%,rgba(245,122,77,1) 11%,rgba(245,122,77,1) 16%,rgba(116,58,36,1) 99%);
    background: -ms-linear-gradient(top, rgba(245,122,77,1) 5%,rgba(245,122,77,1) 11%,rgba(245,122,77,1) 11%,rgba(245,122,77,1) 11%,rgba(245,122,77,1) 11%,rgba(245,122,77,1) 11%,rgba(245,122,77,1) 16%,rgba(116,58,36,1) 99%);
    background: linear-gradient(to bottom, rgba(245,122,77,1) 5%,rgba(245,122,77,1) 11%,rgba(245,122,77,1) 11%,rgba(245,122,77,1) 11%,rgba(245,122,77,1) 11%,rgba(245,122,77,1) 11%,rgba(245,122,77,1) 16%,rgba(116,58,36,1) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f57a4d', endColorstr='#743a24',GradientType=0 );
    margin-bottom: 10px;
    font-weight:300;
    font-size: 12px;
    font-family: var(--ff-1);
    outline: none;
}
.btn-1:hover{
     background: rgb(900,80,000);
 }
.btn-1:active{
    box-shadow: 0 0 25.6px 0.4px rgba(0, 0, 0, 0.35);
}
.btn_1{
    background: url("../img/icons/hard.png")no-repeat top center;
    position: absolute;
    background-size: 168%;
    background-position: -19px 5px;
    width: 23px;
    height: 23px;
    top: 2px;
    right: 12px;
}
.product-size{
    padding-top: 15px;
}
.name-wrapper-img{
    max-width: 100%;
}
.name-wrapper-img img{
    width: 100%;
}
.form-down{
    position: relative;
    width: 100%;
}
.btn-2{
    width: 154px;
    height: 27px;
    color: white;
    -webkit-appearance: textfield;
    -webkit-rtl-ordering: logical;
    user-select: text;
    cursor:pointer;
    padding: 1px;
    border-radius: 20px;
    margin-bottom: 10px;
    font-weight:300;
    font-size: 12px;
    font-family: var(--ff-1);
    background: rgb(11,169,182);
    background: -moz-linear-gradient(top, rgba(11,169,182,1) 8%, rgba(11,169,182,1) 8%, rgba(11,169,182,1) 14%, rgba(11,169,182,1) 14%, rgba(11,169,182,1) 19%, rgba(11,169,182,1) 19%, rgba(5,80,87,1) 101%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(8%,rgba(11,169,182,1)), color-stop(8%,rgba(11,169,182,1)), color-stop(14%,rgba(11,169,182,1)), color-stop(14%,rgba(11,169,182,1)), color-stop(19%,rgba(11,169,182,1)), color-stop(19%,rgba(11,169,182,1)), color-stop(101%,rgba(5,80,87,1)));
    background: -webkit-linear-gradient(top, rgba(11,169,182,1) 8%,rgba(11,169,182,1) 8%,rgba(11,169,182,1) 14%,rgba(11,169,182,1) 14%,rgba(11,169,182,1) 19%,rgba(11,169,182,1) 19%,rgba(5,80,87,1) 101%);
    background: -o-linear-gradient(top, rgba(11,169,182,1) 8%,rgba(11,169,182,1) 8%,rgba(11,169,182,1) 14%,rgba(11,169,182,1) 14%,rgba(11,169,182,1) 19%,rgba(11,169,182,1) 19%,rgba(5,80,87,1) 101%);
    background: -ms-linear-gradient(top, rgba(11,169,182,1) 8%,rgba(11,169,182,1) 8%,rgba(11,169,182,1) 14%,rgba(11,169,182,1) 14%,rgba(11,169,182,1) 19%,rgba(11,169,182,1) 19%,rgba(5,80,87,1) 101%);
    background: linear-gradient(to bottom, rgba(11,169,182,1) 8%,rgba(11,169,182,1) 8%,rgba(11,169,182,1) 14%,rgba(11,169,182,1) 14%,rgba(11,169,182,1) 19%,rgba(11,169,182,1) 19%,rgba(5,80,87,1) 101%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0ba9b6', endColorstr='#055057',GradientType=0 );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f57a4d', endColorstr='#743a24',GradientType=0 );
    outline: none;
}
.btn-2:hover{
    background: rgb(11,169,182);
}
.btn-2:active{
    box-shadow: 0 0 25.6px 0.4px rgba(0, 0, 0, 0.35);
}
.btn_2{
    background: url("../img/icons/hard.png")no-repeat top center;
    position: absolute;
    background-size: 168%;
    background-position: 3px 5px;
    width: 23px;
    height: 23px;
    top: 2px;
    right: 15px;
}

.block-content{
    background: url("../img/block/bl-content.png")no-repeat top center;
    background-size: cover;
    color: var(--color-defolt-1);
    padding: 135px 0 115px;
}
.block-cnt-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 55%;
    background: url("../img/footer/prikaluha.png")no-repeat center;
    background-size: 93%;
    background-position: 14px 49px;
}
.block-cnt-text h1{
    font-weight: inherit;
    text-transform: uppercase;
    padding-bottom: 65px;
}
.block-cnt-text p{
    font:300 var(--fs-p)/3 var(--ff-1);
}
.block-cnt-text a{
    text-decoration: none;
    border-bottom: 1px solid white;
    color: white;
    font: 300 14px/1.1 var(--ff-1);
    line-height: 1.5;

}
.btn-read{
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    width: 100%;
}

.product-next{
    padding: 200px 0 60px ;
}
.name-wrapper-next{
    display: flex;
    justify-content: space-around;
    flex-basis: 22%;
    padding: 35px 10px 25px;
    box-sizing: border-box;
    box-shadow: 0 0 0.1px 0.4px rgba(0, 0, 0, 0.35);
}
.name-wrapper-next:hover{
    display: flex;
    justify-content: space-around;
    flex-basis: 22%;
    padding: 35px 10px 25px;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0 0 14.6px 3.4px rgba(0, 0, 0, 0.35);
}

.slider{
    background-color: #4fa3de;
    padding: 40px 0 55px 0;
}
.slid{
    display: flex;
    justify-content: space-between;
}
.slid img{
    width: 16%;
    margin: 0 20px;
    height: auto;
}

.map{
    position: relative;
    margin-bottom: -120px;
}

iframe{
    width: 100%;
    height: 460px;
}
.footer{
    position: relative;
    color:white;
    padding-bottom: 50px;
    padding-top: 100px;
    background: url("../img/footer/sey-min.png")no-repeat center top;
    background-size: cover;

}
.footer-logo{
    text-align: center;

}
.footer-flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin:0 -1.5%;
    font-size: 24px;
    font-weight: 600;
}
.footer-menu{
    min-width: 150px;
    margin: 0 1.5%;
}
.footer-icon{
    background: url(../img/icons/icons-main-menu.png)no-repeat top center;
    background-size: 129px 28px;
    width: 26px;
    height: 21px;
    display: inline-block;
}
.footer-menu h4{
    margin-bottom: 45px;
}
.footer-menu  ul li a{
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
    align-items: baseline;
}
.footer-menu  ul li {
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
}
.footer_home{
    background-position: 0 -5px;
}
.hr-footer{
    background-color:white;
    height: 1px;
 }
.soc-flex{
    display: flex;
    flex-direction: column;

}
.soc-ctn ul li{
    margin-left: -10px;
    margin-bottom: 33px;
}
.footer-icon-flex{
  display: flex;
  justify-content: space-between;
  margin: 0 -5px;
}
.soc-qwe {
    overflow: hidden;

}
.soc-qwe h4{
    margin-bottom: 13px;

}
.icon-soc{
    background: url("../img/footer/icon-soc.png")no-repeat top center;
    width: 39px;
    height: 39px;
    display: inline-block;
    margin: 0 10px;
}
.icon_facebook{
 background-position: 0 0;
}
.icon_google{
   background-position: -50px 0;
}
.icon_tviter{
   background-position: -99px 0;
}
.icon_instagram{
background-position: -141px 0;
}

input[type=email]::-webkit-input-placeholder{color:#ffffff;}
input[type=email]::-moz-placeholder{color:#ffffff;}
input[type=email]:-moz-placeholder{color:#ffffff;}/* Firefox 18- */
input[type=email]:-ms-input-placeholder{color:#ffffff;}
input[type=email]{
    width: 87%;
    background-color: #102736;
    color: white;
    border: 1px solid white;
    padding: 5px 11px;
    outline-color: black;
    outline-width: 1px;
}
.icon-email{
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAPBAMAAAAbqIIhAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAALVBMVEX///////////////////////////////////////////////////////////+g0jAFAAAADnRSTlMAZu7dzDMiEZmqd1W7RIS1uM8AAAABYktHRACIBR1IAAAACXBIWXMAAAsSAAALEgHS3X78AAAAX0lEQVQI12OQewcBigx6UNY7Bjso4wlDHJT1lCEVIvg4jMG0AsyaHszwbsEmIEOb6x3Duyfp5969KfMDst5pcSktWPQOxHp3jCHnHYT17sw7GOsdGqsPynjBwHoXAgIAzKlqrnqtzOIAAAAASUVORK5CYII=');
    background-repeat: no-repeat;
    background-position: 154px 6px;

}