@media screen and (min-width: 320px) and (max-width: 1200px) {
  .welcome p{
    font-size: 16px;
  }

  .carousel-services-item{
    flex-direction: column;
    .carousel-services-content{
      margin-bottom: 0;
    }
    p{
      max-height: 100px;
      overflow: hidden;
      margin-bottom: 15px;
    }
  }
  .carousel-services .owl-nav > div.owl-prev,.carousel-services .owl-nav > div.owl-next{
    line-height: 45px;
  }
  .carousel-services .owl-nav {
          top: 70px;
   >div{
     width: 50px;
     height: 50px;

   }
 }
  .mfp-ready{
    opacity: 0.92;
  }
  .mfp-content{background-color: grey;

    .main-slider-popup{
        font-size: 20px;
        color: white;
        margin-bottom: 25px;
        padding: 10px;
       text-align: center;

      }
    .carousel-services-img{
      opacity: 1;
    }

  }

  .h1{
    font-size: 64px;
  }
 .header-contacts{
     font-size: 13px;

 }
  .header-composition p{
    font-size: 16px;
  }


}
@media screen and (min-width:320px) and (max-width:992px) {
  .welcome {
    p{
      font-size: 16px;
    }
    strong{
      font-size: 30px;
      font-weight: 400;
    }
  }
  .h1{
    font-size: 48px;
  }
  .header-contacts{
    font-size: 13px;
  }
  .header-composition p{
    font-size: 15px;
    margin: 10px 0;
}
.s{
  &-call{
    &:before{
      width: 100%;
    }
  }
}
  .footer-addr{
    .footer-phone{
      font-size: 21px;
      .fa{
        font-size: 21px;
      }
    }
  }
}
@media screen and (min-width:320px) and (max-width:768px) {
  .carousel-services-item{
    flex-direction: column;
    .carousel-services-content{
      margin-bottom: 0;
    }
    p{
      max-height: 100px;
      overflow: hidden;
      margin-bottom: 15px;
    }
  }
  .carousel-services .owl-nav > div.owl-prev,.carousel-services .owl-nav > div.owl-next{
    line-height: 45px;
  }
  .carousel-services .owl-nav {
          top: 70px;
   >div{
     width: 50px;
     height: 50px;

   }
 }
  .mfp-ready{
    opacity: 0.92;
  }
  .mfp-content{background-color: grey;

    .main-slider-popup{
        font-size: 20px;
        color: white;
        margin-bottom: 25px;
        padding: 10px;
       text-align: center;

      }
    .carousel-services-img{
      opacity: 1;
    }

  }
  .cost{
    .price{
     ul {
       .ourCost{
         display: block;
         width: 100%;
         text-align: center;
         line-height: 25px;
       }
       width: 90%;
       li{
         text-align: center;
         border: none;
         margin-bottom: 0;
         padding: 20px 0;
             }
     }
    }
  }
  .fotorama__thumb{
    //width: 60px;
    //height: 60px;

  }
  .fotorama{

      }
  .fotorama__thumb-border{
    //width: 56.5px !important;
    //height: 39px !important;
    //border-width: 2px !important;
  };
  .fotorama__nav-wrap {
    position: relative;
    bottom: 1px;
    padding: 0 0;
    width: 100%;
  }
  .fotorama__nav__shaft{
    //display: none;
    //top: 30px;
  }
  .fotorama1550786532101 .fotorama__thumb-border{
    //width: 57.5px;
    //height: 28px;
  }
  .s{
    &-call{
      background-size: cover;
      .callback{
        padding: 5% 0;
        &-logo{
          display: flex;
          justify-content: center;
          & img{
            height: 70px;
            padding-bottom: 20px;
          }
        }
      }
    }
  }

  .quotes{
    display: none;
  }
  .footer-column {
    margin: 10px 0;
  }
  .footer-social{
    .soc{
      & li{
        & a{
          margin-top: 0;
        }
      }
    }
  }
  .footer-menu{
    padding-left: 20px;
    & a{
      padding: 4px 0 10px 20px;
    }
  }
  .footer-addr{
    margin-bottom: 10px;
}
}
@media screen and (min-width:320px) and (max-width:680px) {

}
@media screen and (min-width:320px) and (max-width:480px) {
  .welcome {
    p {
     span{font-size: 10px;}
    }
    strong{
      font-size: 20px;
      font-weight: 400;
    }
  }
  .header-composition p{
    margin: 4px 0;
  }
  .header-composition{
    .button{
      margin-top: 50px;
    }
  }
  .h1{
    font-size: 32px;
  }
  .header-contacts{
    font-size: 11px;
    .phone-h{
      text-align: left;
    }
  }
  .header-flex {
    top: 20px;
  }
}
@media screen and (max-width:320px) {
  .top-line{padding-top: 18px}
  .hamburger{
    right: 10px;
  }
  .header-social{
    right: 5px;
    padding-left: 7px;
    padding-right: 15px;
  }
  .logo img{
    margin-left: 60px;
  }
  .welcome p span{
    font-size: 8px;
    line-height: 6px;

  }
  .welcome {
    .h1{
      margin-bottom: 17px;
      font-size: 25px;}
  }
  .welcome .fa-star:before{
    font-size: 12px;
  }
  .header-composition p{
    line-height: 25px;
  }
  .header-contacts .phone-h{
    text-align: left;
    .fa-mobile-phone:before, .fa-mobile:before{
      margin-right: 4px;
    }
  }
  .header-flex{
    top: -45px;
  }
  .header-contacts .phone-h{
    display: flex;
    align-items: center;
  }
  .header-composition .button{
    padding: 8px 13px;
  }
  .header-contacts .fa{
    margin-right: 5px;
  }
  .header-contacts{
    padding: 4px 0;
  }
  .fa-mobile{
    margin-right: 2px;
  }



}
@media screen and (min-width:310px) and (max-width:320px){
  section .h2 {
    font-size: 17px;
    font-weight: 800;
  }
  .header-flex {
    top: 10px;
  }
  .welcome strong {
    font-size: 20px;
  }
  .header-composition{
    p{
      margin: 13px 0;
    }
    &-welcome{
       .h2{
       font-size: 17px;
      }
    }
  }
  .s{
    &-call{
      background-size: contain;
      &:before{
        width: 100%;
      }
      .callback{
        padding: 5% 14px 5% 0;
        &-logo{
          display: flex;
          justify-content: center;
          & img{
            height: 70px;
            padding-bottom: 20px;
          }
        }
      }
    }
  }
  .footer-column {
    margin: 10px 0;
  }
  .footer-social{
    .soc{
      & li{
        & a{
          margin-top: 0;
        }
      }
    }
  }
  .footer-menu{
    padding-left: 20px;
    & a{
      padding: 4px 0 10px 20px;
    }
  }
  .footer-addr{
    margin-bottom: 10px;
  }
}