
$color-aceent:#F9c869;
$blue:#66c7CD;
$red:#F86868;
$dark:#1a1a1a;
$over: #3d3c3c;

$ff-1: 'Conv_Raleway-Light';
$ff-2: 'Conv_Raleway-ExtraLight,Conv_Raleway-Light,Conv_Raleway-Bold,Conv_Raleway-Thin';
$ff-3: 'Conv_Raleway-Bold';
$ff-4: 'Conv_Raleway-Thin';
$ff-5: 'FontAwesome';
$ff-6: 'Fif Sans', sans-serif;
$ff-7: 'New Roma'; /* это шрифта не используеться в коментах Имя*/

