@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&subset=cyrillic');

body {
  font: 400 16/1.2 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 16px;
  background-color: #CCCCCC;
  margin: 0 auto;
}

;
main {
  max-width: 1900px;
  width: 100%;
  margin: 0 auto;
  background-color: #6fcdff;
  height: 136px;
  position: relative;
  &:before {
	position: absolute;
	content: "";
	width: 50%;
	background: #51afe1;
	height: 136px;
  }
;
  h2 {
	font-size: 28px;
  }
;
  .header {
	&-logo {
	  height: 136px;
	}
  ;
	&-wrap {
	  font-family: 'Open Sans', sans-serif;
	  background: #6fcdff;
	  height: 136px;
	  padding-left: 25px;

	  p {
		margin-bottom: 0;
	  }
	}
  ;
  }
;
  .plus {
	color: #6fcdff;
	border-radius: 10em;
	padding: 9px;
	width: 30px;
	height: 30px;
	line-height: 13px;
	text-align: center;
	font-weight: bold;
	background: #fff;
	margin-right: 18px;
  }
  #header-btn {
	max-width: 200px;
	cursor: pointer;

	&:hover p {
	  transition: text-shadow .25s ease;
	  text-shadow: 2px 2px 2px darken(#6fcdff, 40);
	}
  ;
  }
;
}

;

form {
  color: #000000;
  background-color: white;
  border-radius: 0 0 15px 15px;
  box-shadow: 0 10px 45px #d0e0eb;
  padding: 50px 25px 10px;
  .form-control {
	width: 50%;
  }
}

;
.my_flex {
  display: flex;
  align-items: center;
}

;
.my_btn {
  width: 140px;
  height: 40px;
  background-color: #6ecdfd;
  border: 1px solid #2fa5e1;
  border-radius: 20px;

  &-cancel {
	background-color: #ff7e70;
	border: 1px solid #ff695a;
  }
}

.film {
  &-wrapper {
	padding: 0 0;
	margin: 30px 0 50px;

	border-radius: 0 0 15px 15px;
	background-color: white;
	box-shadow: 0 10px 45px #d0e0eb;
  }
;
  &-content {
	display: flex;
	flex-direction: column;
	button {

	}
  }
;
  &-title {

  }
;
  &-description {
	max-height: 250px;
	overflow: hidden;
  }
;
  &-country {
	position: relative;
	margin-left: 130px;
	&:before {
	  color: #fff;
	  content: "COUNTRY";
	  position: absolute;
	  left: -130px;
	  font-family: 'Montserrat', sans-serif;
	  font-size: 16px;
	  font-weight: 500;
	}
  }
  &-year {
	position: relative;
	margin-left: 130px;
	&:before {
	  color: #fff;
	  content: "YEAR";
	  position: absolute;
	  left: -130px;
	  font-family: 'Montserrat', sans-serif;
	  font-size: 16px;
	  font-weight: 500;
	}
  }
;
  &-actor {
	position: relative;
	margin-left: 130px;
	margin-bottom: 70px;
	box-sizing: border-box;
	&:before {
	  color: #fff;
	  content: "ACTOR";
	  position: absolute;
	  left: -130px;
	  font-family: 'Montserrat', sans-serif;
	  font-size: 16px;
	  font-weight: 500;
	}
  }
;
  &-genre {
	position: relative;
	margin-left: 130px;
	&:before {
	  color: #fff;
	  content: "GENRE";
	  position: absolute;
	  left: -130px;
	  font-family: 'Montserrat', sans-serif;
	  font-size: 16px;
	  font-weight: 500;
	}
  }
;
  &-img {
	height: 400px;
	background-position: center;
	background-size: cover;
	background-repeat: repeat;
  }
}

;
.reset {
  padding: 0 0;
  .comment {
	&-wrapper {
	  height: 50px;
	  padding: 10px;

	}
	&-name {
	  color: #ff7e70;
	  font-family: 'Open Sans', sans-serif;
	  font-size: 16px;
	  font-weight: 700;
	  line-height: 36px;
	}
  }
}

.comment-name {
  color: #ff7e70;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 36px;
  margin-left: 15px;
}

.button-wrapper {
  padding: 0;
  .delete {
	margin-right: 20px;
  }
}

.library-cover {
  padding-top: 100px;
  padding-bottom: 100px;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
//  filter: opacity(12%) blur(12px) sepia(35%);
 // filter: opacity(10%) blur(2px) ;
}

;
.library-panel {
  position: relative;
  color: white;
}

;
